body, html{
  font-family: Arial, Helvetica, sans-serif;
}


div#button{
  padding: 30px;
  font-size: 12pt;
  background-color: rgb(216, 216, 216);
  width: 200px;
  text-align: center;
  border: 1px black solid;
}

div#button:hover{
  background-color: rgb(173, 173, 173);
  cursor: pointer;
}

div{
  margin-bottom: 20px;
}